-# coding: utf-8
!!!5
/[if lt IE 7] <html class="no-js lt-ie9 lt-ie8 lt-ie7">
/[if IE 7] <html class="no-js lt-ie9 lt-ie8">
/[if IE 8] <html class="no-js lt-ie9">
%html.no-js{lang:"en",:"xmlns:fb" => "http://ogp.me/ns/fb#"}
  %head
    %meta{:charset => "utf-8"}

    %title
      = page_title

    = page_metas

    <!-- Favicons and touch icons -->
    <!-- For retina-display iPads -->
    %link{ :href=>"/apple-touch-icon-144x144-precomposed.png?v=1", :rel=>"apple-touch-icon-precomposed", :sizes=>"144x144", :type=>"image/png" }
    <!-- For retina-display iPhones -->
    %link{ :href=>"/apple-touch-icon-144x144-precomposed.png?v=1", :rel=>"apple-touch-icon-precomposed", :sizes=>"114x114", :type=>"image/png" }
    <!-- For iPad 1 -->
    %link{ :href=>"/apple-touch-icon-72x72-precomposed.png?v=1", :rel=>"apple-touch-icon-precomposed", :sizes=>"72x72", :type=>"image/png" }
    <!-- For iPhone 3G, iPod Touch and Android -->
    %link{ :href=>"/apple-touch-icon-57x57-precomposed.png?v=1", :rel=>"apple-touch-icon-precomposed", :type=>"image/png" }
    <!-- For Nokia -->
    %link{ :href=>"/apple-touch-icon-original.png?v=1", :rel=>"shortcut icon" }
    <!-- For everything else -->
    %link{ :href=>"/favicon.png?v=1", :rel=>"shortcut icon", :type=>"image/png" }
    %link{ :href=>"/favicon.ico?v=1", :rel=>"shortcut icon", :type=>"image/x-icon" }

    = javascript_include_tag "vendor/modernizr.js"
    = stylesheet_link_tag "application"
    -if development?
      = stylesheet_link_tag "development/draw_grid"

  %body
    = partial'partials/tag-manager'
    #container
      = yield
    //todo addthis

    %script{src: "//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5063a47d5be474d1"}
    //= javascript_include_tag "site.js"






