.author-triangle
  .container-left
    %figure
      = image_tag 'rewend_mobile-author-photo-orsola.png', id:'mobile-author-ph_triangle', alt:'RewendUrsulaPhoto'
      = image_tag 'rewend_desktop-author-photo-orsola.png', id:'desktop-author-ph_triangle',width:'205px', height:'235px', alt:'RewendUrsulaPhoto'
      //possibile dimensioni per immagine rewend_desktop-author-photo-orsola: w205 h235
  .container-right
    %h2.name
      = t("author1.name")
    %h3.career
      = t("author1.career")
    %p.data.hyphenate
      = t("author1.bio")