%section.author-square

  .container_mobile
    .container-left
      %figure
        //todo mettere immagine originale
        = image_tag 'rewend_mobile-author-photo-mauro.png', id:'author-ph_square', alt:''

      %h3.career
        SCRITTORE,<br>
        DOCUMENTARISTA, <br>
        REGISTA

    .container-right
      %h2.name
        METIN YEĞIN
      %p.data
        “Troverete <span class="key-words">Vefa</span>, il più noto venditore di <span class="key-words">Boza</span>  proprio imboccando la prima strada sul il lato destro dopo aver lasciato la <span class="key-words">moschea </span> <span class="key-words">Süleymaniye </span> dopo tre o quattro strade.”

  .container_desktop

    %figure.story_teller1
      = image_tag 'rewend_desktop-storyteller1.png', id:'storyteller1', width:'130px', height: 'auto', alt:'Rewend_storyteller Image'
      %h2.name_story_teller1
        PAOLA

    %figure.story_teller2
      = image_tag 'rewend_desktop-storyteller2.png', id:'storyteller2', width:'90px', height: 'auto', alt:'Rewend_storyteller Image'
      %h2.name_story_teller2
        CARLOS

    %figure.story_teller3
      = image_tag 'rewend_desktop-storyteller3.png', id:'storyteller3', width:'130px', height: 'auto', alt:'Rewend_storyteller Image'
      %h2.name_story_teller3
        ESMAHAN<br>
        AYKOL

    %figure.story_teller4
      = image_tag 'rewend_desktop-storyteller4.png', id:'storyteller4', width:'134px', height: 'auto', alt:'Rewend_storyteller Image'
      %h2.name_story_teller4
        PEDRO


    .paragraph-story_teller1

      %h3.career
        SCRITTRICE

      %p.data
        “Suggerirei di andare nel ristorante Yakup2 in Tunel Beyoglu perché ci va molta gente, puoi capire molto sulla vita a Istanbul.”

    .paragraph-story_teller2

      %h3.career
        CASALINGHA

      %p.data
        “Suggerirei di andare nel ristorante Yakup2 in Tunel Beyoglu perché ci va molta gente, puoi capire molto sulla vita a Istanbul.”

    .paragraph-story_teller3

      %h3.career
        SCRITTRICE E GIORNALISTA

      %p.data
        “Suggerirei di andare nel ristorante Yakup2 in Tunel Beyoglu perché ci va molta gente, puoi capire molto sulla vita a Istanbul.”

    .paragraph-story_teller4

      %h3.career
        FOTOGRAFO, PROFESSORE

      %p.data
        “Suggerirei di andare nel ristorante Yakup2 in Tunel Beyoglu perché ci va molta gente, puoi capire molto sulla vita a Istanbul.”