.author-pentagon
  .container-left
    %h2.name
      = t("author1.name")
    %h3.career
      = t("author1.career")
    %p.data.hyphenate
      = t("author1.bio")

  .container-right
    %figure
      = image_tag 'rewend_mobile-author-photo-mauro.png', id:'mobile-author-ph_pentagon', alt:'RewendMauroPhoto'
      = image_tag 'rewend_desktop-author-photo-mauro.png', id:'desktop-author-ph_pentagon', width:'205px', height:'212px', alt:'RewendMauroPhoto'
      //possibile dimensioni per immagine rewend_desktop-author-photo-mauro: w205 h200