%section.author-square

  %ul.container_mobile

    %li
      .container-left
        %figure
          = image_tag 'rewend_desktop-storyteller1.png', width:'130px', height: 'auto', alt:'Rewend_storyteller Image'

        %h3.career
          ATTRICE,<br>
          TRADUTTRICE

      .container-right
        %h2.name
          FUSUN <br>
          DEMIREL
        %p.data
          “Mi piace specialmente <span class="key-words">piazza Ortaköy</span>, e la zona dove finisce il Bosforo.”

    %li
      .container-left
        %figure
          = image_tag 'rewend_desktop-storyteller2.png', width:'87px', height: 'auto', alt:'Rewend_storyteller Image'

        %h3.career
          SCRITTORE,<br>
          DOCUMENTARISTA, <br>
          REGISTA

      .container-right
        %h2.name
          METIN<br>
          YEĞIN
        %p.data
          “Troverete Vefa, <span class="key-words"> il più noto venditore di Boza</span>  proprio imboccando la prima strada sul lato destro dopo aver lasciato la moschea Süleymaniye dopo tre o quattro strade.”

    %li
      .container-left
        %figure
          = image_tag 'rewend_desktop-storyteller3.png', width:'130px', height: 'auto', alt:'Rewend_storyteller Image'

        %h3.career
          SCRITTRICE,<br>
          GIORNALISTA

      .container-right
        %h2.name
          ESMAHAN<br>
          AYKOL
        %p.data
          “Suggerirei di andare nel ristorante <span class="key-words">Yakup2</span> in Tunel <span class="key-words">Beyoglu</span> perché ci va molta gente, puoi capire molto sulla vita a Istanbul.”

    %li
      .container-left
        %figure
          = image_tag 'rewend_desktop-storyteller4.png', width:'134px', height: 'auto', alt:'Rewend_storyteller Image'

        %h3.career
          ARTISTA<br>
          SCRITTORE

      .container-right
        %h2.name
          MEHMET<br>
          GÜRELI
        %p.data
          “Se dovessi accompagnare un amico straniero , passeggerei con lui in Beyoglu, poi lo accompagnerei alla Moschea Blu,<span class="key-words"> &laquo; l’altra &raquo;</span> Istanbul, la città tradizionale.”

  .container_desktop

    %figure.story_teller1
      = image_tag 'rewend_desktop-storyteller1.png', id:'storyteller1', width:'130px', height: 'auto', alt:'Rewend_storyteller Image'
      %h2.name_story_teller1
        FUSUN<br>
        DEMIREL

    %figure.story_teller2
      = image_tag 'rewend_desktop-storyteller2.png', id:'storyteller2', width:'90px', height: 'auto', alt:'Rewend_storyteller Image'
      %h2.name_story_teller2
        METIN<br>
        YEĞIN

    %figure.story_teller3
      = image_tag 'rewend_desktop-storyteller3.png', id:'storyteller3', width:'130px', height: 'auto', alt:'Rewend_storyteller Image'
      %h2.name_story_teller3
        ESMAHAN<br>
        AYKOL

    %figure.story_teller4
      = image_tag 'rewend_desktop-storyteller4.png', id:'storyteller4', width:'134px', height: 'auto', alt:'Rewend_storyteller Image'
      %h2.name_story_teller4
        MEHMET<br>
        GÜRELI

    .paragraph-story_teller

      %h3.career
        SCRITTRICE E GIORNALISTA

      %p.data
        “Suggerirei di andare nel ristorante <span class="key-words">Yakup2</span> in Tunel <span class="key-words">Beyoglu</span> perché ci va molta gente, puoi capire molto sulla vita a Istanbul.”

