%section.register
  %p.comment
    =t("form_messages")
  - form_tag 'http://mailinglist.thedoersproject.com/subscribe', :id => "signup-form-rw", :name => "signup-form", :"accept-charset" => "utf-8", :class => 'submit-form', :method => 'POST' do
    - field_set_tag do
      %p
        = text_field_tag :name, :name => "name", :id => 'name', :class=>"name", :placeholder=>"Il tuo nome", :type=>"text"
        = text_field_tag :email, :name => "email", :id => 'email', :class=>"email", :placeholder=>"La tua email", :type=>"text"
      - if development?
        = hidden_field_tag  :list, :value => "y1C1K1lnUXrSwv2cqfKljw", :name => "list", :id => 'submit_list'
      - if build?
        = hidden_field_tag  :list, :value => "pwYMqYEJ0uaABWoIyFf0eQ", :name => "list", :id => 'submit_list'
      = hidden_field_tag  :listall, :value => "f4B1RXA44QJWHwOkMzitlA", :name => "list all", :id => 'submit_listall'
      = hidden_field_tag  :success, :value => "#", :name => "success", :id => 'submit_success'
      = hidden_field_tag  :language, :value => "it", :name => "language", :id => 'language'
      = hidden_field_tag  :tags, :value => "rewend", :name => "tags", :id => 'tags'
      %p
        = submit_tag "Submit-rw", :name => "submit", :id => 'submit-btn-rw',:class=> "send", :value=> t('form_button')
      %p#status-rw.status
