.sell-share
  .container-left
    -#= image_tag 'rewend_buyplus-images.png', id:'mobile-devicesplus', alt:'Rewend-BuyPlus'
    -#= image_tag 'rewend_desktop-buyplus-images.png', id:'desktop-devicesplus',width:"280px", height: "105px", alt:'Rewend-BuyPlus'
    //valori di prova per immagine desktop-buyplus:  w280 h105, w205 h90

    = image_tag 'prezzi_iphone.png', id:'mobile-devicesplus', alt:'Rewend-BuyPlus'
    = image_tag 'prezzi_web.png', id:'desktop-devicesplus',width:"295px", height: "105px", alt:'Rewend-BuyPlus'


    %a{href:"", id: "buy3"}
      = t("sell_buttons")
    %a{ href:"", id: "buy4"}
      = t("sell_buttons")

  .container-right
    %p.hyphenate
      = t("sell-share_messages")

    = partial "partials/share_tag", :locals => {:url => "#{t("url")}",:twitter_url=>"#{t("url")}?utm_source=Social&utm_medium=Twitter&utm_content=tweet&utm_campaign=Socials", :twitter_title => "Rewend", :title => "#{t("author_messages")}"}


