.stores
  %h2.title
    Rivenditori<br>
    Autorizzati

  .container-left
    .point
      = image_tag 'rewend_mobile-store-pin.png', id:'mobile-store-pin', alt:'Rewend store pin'
      = image_tag 'rewend_desktop-store-pin.png', id:'desktop-store-pin', width:'28px', height:'38px', alt:'Rewend store pin'
      .address
        %a{href:"", class:"store_name",target:"_blank"}
          Libreria Luxemburg
        %p
          Via san massimo 6 <br>
          TORINO

    .point
      = image_tag 'rewend_mobile-store-pin.png', id:'mobile-store-pin', alt:'Rewend store pin'
      = image_tag 'rewend_desktop-store-pin.png', id:'desktop-store-pin', width:'28px', height:'38px', alt:'Rewend store pin'
      .address
        %a{href:"", class:"store_name",target:"_blank"}
          Libreria Luxemburg
        %p
          Via san massimo 6 <br>
          TORINO

  .container-right
    .point
      = image_tag 'rewend_mobile-store-pin.png', id:'mobile-store-pin', alt:'Rewend store pin'
      = image_tag 'rewend_desktop-store-pin.png', id:'desktop-store-pin', width:'28px', height:'38px', alt:'Rewend store pin'
      .address
        %a{href:"", class:"store_name",target:"_blank"}
          Libreria Luxemburg
        %p
          Via san massimo 6 <br>
          TORINO
