---
title: "main page"
metas: "main"
---
:javascript
  var locale = new Object();
  locale.coauthors = new Object();

  locale.coauthors.author1 = new Object();
  locale.coauthors.author1.name = "#{t("coauthors.author1.name")}";
  locale.coauthors.author1.career = "#{t("coauthors.author1.career")}";
  locale.coauthors.author1.data = '#{t("coauthors.author1.data")}';

  locale.coauthors.author2 = new Object();
  locale.coauthors.author2.name = "#{t("coauthors.author2.name")}";
  locale.coauthors.author2.career = "#{t("coauthors.author2.career")}";
  locale.coauthors.author2.data = '#{t("coauthors.author2.data")}';

  locale.coauthors.author3 = new Object();
  locale.coauthors.author3.name = "#{t("coauthors.author3.name")}";
  locale.coauthors.author3.career = "#{t("coauthors.author3.career")}";
  locale.coauthors.author3.data = '#{t("coauthors.author3.data")}';

  locale.coauthors.author4 = new Object();
  locale.coauthors.author4.name = "#{t("coauthors.author4.name")}";
  locale.coauthors.author4.career = "#{t("coauthors.author4.career")}";
  locale.coauthors.author4.data = '#{t("coauthors.author4.data")}';


= partial'partials/header'

#container1
  = partial'partials/sell-basic'
  = partial'partials/author-square'

= partial'partials/placeholder'
#container2
  -#= partial'partials/author-triangle'
  -#= partial'partials/author-pentagon'
  = partial'partials/authors'
  = partial'partials/sell-share'
  -#= partial'partials/stores'

.form-map
  #container3
    .container
      = partial'partials/form'
  = partial'partials/location'

#container4
  = partial'partials/footer'
