---
title: "main page"
metas: "main"
---
:javascript
  var locale = new Object();
  locale.coauthors = new Object();
  locale.coauthors.author1 = new Object();
  locale.coauthors.author1.name = "#{t("coauthors.author1.name")}";
  locale.coauthors.author1.career = "#{t("coauthors.author1.career")}";
  locale.coauthors.author1.data = '#{t("coauthors.author1.data")}';

= partial'partials/header'

#container1
  = partial'partials/sell-basic'
  = partial'partials/author-square'

= partial'partials/placeholder'
#container2
  -#= partial'partials/author-triangle'
  -#= partial'partials/author-pentagon'
  = partial'partials/authors'
  = partial'partials/sell-share'
  -#= partial'partials/stores'

.form-map
  #container3
    .container
      = partial'partials/form'
  = partial'partials/location'

#container4
  = partial'partials/footer'
