---
title: "main page"
metas: "main"
---
= partial'partials/header'
= partial'partials/sell-basic'
= partial'partials/author-square'
= partial'partials/placeholder'
= partial'partials/author-triangle'
= partial'partials/author-pentagon'
= partial'partials/sell-share'
= partial'partials/stores'
= partial'partials/form'
= partial'partials/location'
= partial'partials/footer'
